<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Place your order</title>
  </head>
  <body></body>
  <form action="/order" method="POST">
    <input type="text" name="name" placeholder="customer name" />
    <input type="text" name="name" placeholder="Order number" />
    <input type="number" name="name" placeholder="phone number" />
    <input type="email" name="name" placeholder="email" />
  </form>
</html>
